#root{
    background-color: #fff;
}
.home > .d-grid{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.home > .heading{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.home{
    height: 100%;
}

